body {
  background-color:  gainsboro;
  display: flex; 
  justify-content: center; 
  padding-top: 3%;
}

.form{
  background-color: white;
  padding: 5px;
  display: flex; 
  flex-direction: row;  
  border-radius: 5px;
}

fieldset{
  background-color: white;
  width: 400px; 
  height: 550px;
  display: flex; 
    align-items: center;
    justify-content: center; 
}

img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

input {
    width: 300px;
    padding: 10px;
    outline: none;
    border: none;
    margin: 5px 0px 10px 0px;
    background-color: #dae1ed;
    border-radius: 7px;
    font-size: 13px;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    border: none;
    background-color: #99a6bd;
    font-weight: bolder;
}

p {
  color: rgb(3, 24, 39);
  font-size: 13px;
}
